html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.clear {
    clear: both;
}
.invisible {
    display: none;
    visibility: hidden;
}
.selected {
    -webkit-box-shadow: #000 0px 0px 40px 1px inset;
    -moz-box-shadow: #000 0px 0px 40px 1px inset;
    box-shadow: #000 0px 0px 40px 1px inset;
    /* #22c000 */
}
.selected .corner-icon {
    background-color: rgba(40, 40, 40, 1);
}
.selected .corner-icon .dsi {
    color: #96ff80;
    /* #96ff80; */
}
.top {
    top: 0px;
}
.bottom {
    bottom: 0px;
}
.left {
    left: 0px;
}
.right {
    right: 0px;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.middle {
    /* for lining up horizontal icons and text */
    vertical-align: middle;
}
.iblock {
    display: inline-block;
}

/* Removes floats and uses inline block for dynamic flowing boxes */

.iblock-mono {
    float: none !important;
    display: inline-block;
    margin: 0 -0.125em;
}
.iblock-multi {
    float: none !important;
    display: inline-block;
    margin: 0 -0.125em;
    vertical-align: top;
}
.block {
    display: block;
}
.abs {
    position: absolute;
}
.rel {
    position: relative;
}
.page-header .mask .flush {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.stretchx {
    width: 100%;
}
.stretchy {
    height: 100%;
}

/* ------------------------  x y centering  */

.xycenter {
    text-align: center;
}
.xycenter::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.xycentered {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.icon-vcenter {
   -ms-transform: translate(0,15%);
   -moz-transform: translate(0,15%);
   -webkit-transform: translate(0,15%);
   transform: translate(0,15%);
   display:inline-block;
}

/* ------------------------  Text and sizing  */

.text-0000 {
    font-size: 60%;
}
.text-000 {
    font-size: 70%;
}
.text-00 {
    font-size: 80%;
}
.text-0 {
    font-size: 90%;
}
.text {
    font-size: 100%;
}
.text0 {
    font-size: 120%;
}
.text00 {
    font-size: 140%;
}
.text000 {
    font-size: 160%;
}
.text0000 {
    font-size: 200%;
}
@media (max-width: 992px) {
    .text-0000 {
        font-size: 50%;
    }
    .text-000 {
        font-size: 60%;
    }
    .text-00 {
        font-size: 70%;
    }
    .text-0 {
        font-size: 80%;
    }
    .text {
        font-size: 90%;
    }
    .text0 {
        font-size: 100%;
    }
    .text00 {
        font-size: 120%;
    }
    .text000 {
        font-size: 150%;
    }
    .text0000 {
        font-size: 190%;
    }
}
@media (max-width: 460px) {
    .text000 {
        font-size: 140%;
    }
    .text0000 {
        font-size: 160%;
    }
}
.thin {
    font-weight: 100;
}
.light {
    font-weight: 300;
}
.regular {
    font-weight: 400;
}
.medium {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}
.black {
    font-weight: 900;
}
.caps {
    text-transform: uppercase;
}
footer a {
    color: rgba(255, 255, 255, 1);
}
.link {
    color: rgba(34, 134, 210, 1);
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.blink {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.white {
    color: #fff;
}
.dark {
    color: #000;
}
.grayback {
    background-color: #f7f9f9;
}

/* ----  Icon sizing  */

.icon-0000 {
    font-size: 60%;
}
.icon-000 {
    font-size: 70%;
}
.icon-00 {
    font-size: 80%;
}
.icon-0 {
    font-size: 90%;
}
.icon {
    font-size: 100%;
}
.icon0 {
    font-size: 120%;
}
.icon00 {
    font-size: 140%;
}
.icon000 {
    font-size: 350%;
}
.icon0000 {
    font-size: 400%;
}
@media (max-width: 992px) {
    .icon-0000 {
        font-size: 50%;
    }
    .icon-000 {
        font-size: 60%;
    }
    .icon-00 {
        font-size: 70%;
    }
    .icon-0 {
        font-size: 80%;
    }
    .icon {
        font-size: 90%;
    }
    .icon0 {
        font-size: 100%;
    }
    .icon00 {
        font-size: 120%;
    }
    .icon000 {
        font-size: 300%;
    }
    .icon0000 {
        font-size: 350%;
    }
}
@media (max-width: 460px) {
    .icon000 {
        font-size: 450%;
    }
    .icon0000 {
        font-size: 500%;
    }
}

/* Objects */

.header-blurb {
    background-color: rgba(255, 255, 255, .85);
    text-align: left;
    padding-left: 4%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1.5%;
}
.blurb-home {
    position: absolute;
    top: 250px;
}
.blurb-corp {
    position: absolute;
    right: 0px;
    top: 300px;
    background-color: rgba(255, 255, 255, .95);
}
.blurb-solutions {
    position: absolute;
    top: 300px;
}
.blurb-services {
    position: absolute;
    right: 0px;
    top: 350px;
}
.blurb-clients {
    position: absolute;
    top: 300px;
    -webkit-box-shadow: 7px 7px 11px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: 7px 7px 11px 1px rgba(0,0,0,0.12);
    box-shadow: 7px 7px 11px 1px rgba(0,0,0,0.12);
}
.slider-home {
    position: absolute;
}
.slider-video {
    width: 500px;
    height: 281px;
}
.slider-banner {
    height: 281px;
}
.owl-controls {
    position: absolute;
    bottom: -45px;
    right: 0px;
    left: 0px;
}
.blurb-clients .owl-controls {
    bottom: -60px;
}
.header-shade {
    background-color:rgba(51,88,123,.78);
    width:100%;
    height:190px;
    position:absolute;
}
.header-shade2 {
    background-color:rgba(55,54,54,.80);
    width:100%;
    height:190px;
    position:absolute;
    top: 0px;
}
.lumps {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
.square {
    float:left;
    position: relative;
    width: 100%;
    padding-bottom : 100%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
}
.square-inside {
    position:absolute;
    height:100%; /* = 100% - 2*5% padding */
    width:100%; /* = 100% - 2*5% padding */
    padding: 0%;
    
}
.tblock {
    display:table;
    width:100%;
    height:100%;
}
.tcell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.text-left.tcell {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.client-logo {
    width:auto;
    height:auto;
    max-height:60%;
    max-width:80%;
}
.blockphotos {
    padding-bottom: 18%;
}
@media (max-width: 1200px) {
    .slider-video {
        width: 400px;
        height: 225px;
    }
    .slider-banner {
        height: 225px;
    }
}
@media (max-width: 1024px) {
    .header-shade {
        height: 0px;
    }
}
@media (max-width: 992px) {
    .header-blurb {
        padding-left: 8%;
        padding-right: 4%;
    }
    .blurb-home {
        top: 124px;
    }
    .blurb-solutions {
        top: 320px;
    }
    .blurb-clients {
        top: 300px;
    }
    .header-shade2 {
        height:1px;
    }
    .lumps {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }
    .single-col-space {
        float: none;
        padding-top: 100px;
    }
    .col-md-5.tcell {
        display: inline-block;
    }
}
@media (max-width: 760px) {
    .blurb-home {
        position: relative;
        top: 100px;
    }
    .blurb-corp {
        position: relative;
        top: 100px;
    }
    .blurb-solutions {
        top: 140px;
    }
    .blurb-services {
        top: 140px;
    }
    .blurb-clients {
        position: relative;
        top: 100px;
    }
    .slider-home {
        position: relative;
        top: 100px;
    }
    .slider-video {
        width: 100%;
        height: 320px;
    }
    .slider-banner {
        width: 100%;
        height: 320px;
    }
    .firstblock {
        margin-top: 100px;
    }
    .lumps {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
    .blockphotos {
        padding-bottom: 40%;
    }
    footer {
        font-size: 130%;
        text-align: center;
    }
    footer .text-right {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 460px) {

}
/* These two are a custom underline for links */

span.has-border {
    position: relative;
    padding-bottom: 3px;
    margin-bottom: 25px;
}
span.has-border:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #444;
}

/* These two make clickable objects avoid selection artifacts */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noselect:focus {
    outline: none;
}

/* This is for replacing anchor links, so our sticky header doesn't overlap */

.anchor {
    display: block;
    height: 130px;
    /*same height as header*/
    margin-top: -130px;
    /*same height as header*/
    visibility: hidden;
}
.main-logo-light {
    width: 300px;
}
@media (max-width: 1200px) {
    .main-logo-light {
        width: 200px;
    }
}

/* Padding sizes */

.pad-top-50 {
    padding-top: 50px;
}
.pad-top-75 {
    padding-top: 75px;
}
.pad-top-20 {
    padding-top: 20px;
}
.pad-bottom-20 {
    padding-bottom: 20px;
}
.pad-left-50 {
    padding-left: 50px;
}
.pad-right-50 {
    padding-right: 50px;
}
.pad-left-20 {
    padding-left: 20px;
}
@media (max-width: 992px) {
    .pad-top-50 {
        padding-top: 5px;
    }
    .pad-top-75 {
        padding-top: 5px;
    }
}
/* Adding another column width for our menu footer */
@media (min-width: 768px) {
    .col-9-items {
        width: 11.11111111%
    }
}
@media (min-width: 992px) {
    .col-9-items {
        width: 11.11111111%
    }
}
@media (min-width: 1200px) {
    .col-9-items {
        width: 11.11111111%
    }
}

/* Modifying the neko header behavior of collapsing at mobile size */

.page-header.x-large.stay {
  height: 400px;
  margin-top: 112px;
}
@media (min-width: 768px) {
  .page-header.x-large.stay {
    height: 550px;
    margin-top: 0px;
  }
}
@media (min-width: 992px) {
  .page-header.x-large.stay {
    height: 770px;
    margin-top: 0px;
  }
}
/* Adding another header size to neko */

.page-header.xlarge {
  height: 350px;
  margin-top: 112px;
}
@media (min-width: 768px) {
  .page-header.xlarge {
    height: 400px;
    margin-top: 0px;
  }
}
@media (min-width: 992px) {
  .page-header.xlarge {
    height: 600px;
    margin-top: 0px;
  }
}

/* Adding another breakpoint to Boostrap */

.col-xxs-1,
.col-xxs-2,
.col-xxs-3,
.col-xxs-4,
.col-xxs-5,
.col-xxs-6,
.col-xxs-7,
.col-xxs-8,
.col-xxs-9,
.col-xxs-10,
.col-xxs-11,
.col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}
@media (max-width: 460px) {
	.col-xxs-1,
	.col-xxs-2,
	.col-xxs-3,
	.col-xxs-4,
	.col-xxs-5,
	.col-xxs-6,
	.col-xxs-7,
	.col-xxs-8,
	.col-xxs-9,
	.col-xxs-10,
	.col-xxs-11,
	.col-xxs-12 {
		float: left
	}
	.col-xxs-12 {
		width: 100%
	}
	.col-xxs-11 {
		width: 91.66666667%
	}
	.col-xxs-10 {
		width: 83.33333333%
	}
	.col-xxs-9 {
		width: 75%
	}
	.col-xxs-8 {
		width: 66.66666667%
	}
	.col-xxs-7 {
		width: 58.33333333%
	}
	.col-xxs-6 {
		width: 50%
	}
	.col-xxs-5 {
		width: 41.66666667%
	}
	.col-xxs-4 {
		width: 33.33333333%
	}
	.col-xxs-3 {
		width: 25%
	}
	.col-xxs-2 {
		width: 16.66666667%
	}
	.col-xxs-1 {
		width: 8.33333333%
	}
	.col-xxs-pull-12 {
		right: 100%
	}
	.col-xxs-pull-11 {
		right: 91.66666667%
	}
	.col-xxs-pull-10 {
		right: 83.33333333%
	}
	.col-xxs-pull-9 {
		right: 75%
	}
	.col-xxs-pull-8 {
		right: 66.66666667%
	}
	.col-xxs-pull-7 {
		right: 58.33333333%
	}
	.col-xxs-pull-6 {
		right: 50%
	}
	.col-xxs-pull-5 {
		right: 41.66666667%
	}
	.col-xxs-pull-4 {
		right: 33.33333333%
	}
	.col-xxs-pull-3 {
		right: 25%
	}
	.col-xxs-pull-2 {
		right: 16.66666667%
	}
	.col-xxs-pull-1 {
		right: 8.33333333%
	}
	.col-xxs-pull-0 {
		right: auto
	}
	.col-xxs-push-12 {
		left: 100%
	}
	.col-xxs-push-11 {
		left: 91.66666667%
	}
	.col-xxs-push-10 {
		left: 83.33333333%
	}
	.col-xxs-push-9 {
		left: 75%
	}
	.col-xxs-push-8 {
		left: 66.66666667%
	}
	.col-xxs-push-7 {
		left: 58.33333333%
	}
	.col-xxs-push-6 {
		left: 50%
	}
	.col-xxs-push-5 {
		left: 41.66666667%
	}
	.col-xxs-push-4 {
		left: 33.33333333%
	}
	.col-xxs-push-3 {
		left: 25%
	}
	.col-xxs-push-2 {
		left: 16.66666667%
	}
	.col-xxs-push-1 {
		left: 8.33333333%
	}
	.col-xxs-push-0 {
		left: auto
	}
	.col-xxs-offset-12 {
		margin-left: 100%
	}
	.col-xxs-offset-11 {
		margin-left: 91.66666667%
	}
	.col-xxs-offset-10 {
		margin-left: 83.33333333%
	}
	.col-xxs-offset-9 {
		margin-left: 75%
	}
	.col-xxs-offset-8 {
		margin-left: 66.66666667%
	}
	.col-xxs-offset-7 {
		margin-left: 58.33333333%
	}
	.col-xxs-offset-6 {
		margin-left: 50%
	}
	.col-xxs-offset-5 {
		margin-left: 41.66666667%
	}
	.col-xxs-offset-4 {
		margin-left: 33.33333333%
	}
	.col-xxs-offset-3 {
		margin-left: 25%
	}
	.col-xxs-offset-2 {
		margin-left: 16.66666667%
	}
	.col-xxs-offset-1 {
		margin-left: 8.33333333%
	}
	.col-xxs-offset-0 {
		margin-left: 0
	}
}