html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.clear {
    clear: both;
}
.invisible {
    display: none;
    visibility: hidden;
}
.selected {
    -webkit-box-shadow: #000 0px 0px 40px 1px inset;
    -moz-box-shadow: #000 0px 0px 40px 1px inset;
    box-shadow: #000 0px 0px 40px 1px inset;
    /* #22c000 */
}
.selected .corner-icon {
    background-color: rgba(40, 40, 40, 1);
}
.selected .corner-icon .dsi {
    color: #96ff80;
    /* #96ff80; */
}
.top {
    top: 0px;
}
.bottom {
    bottom: 0px;
}
.left {
    left: 0px;
}
.right {
    right: 0px;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.middle {
    /* for lining up horizontal icons and text */
    vertical-align: middle;
}
.iblock {
    display: inline-block;
}

/* Removes floats and uses inline block for dynamic flowing boxes */

.iblock-mono {
    float: none !important;
    display: inline-block;
    margin: 0 -0.125em;
}
.iblock-multi {
    float: none !important;
    display: inline-block;
    margin: 0 -0.125em;
    vertical-align: top;
}
.block {
    display: block;
}
.abs {
    position: absolute;
}
.rel {
    position: relative;
}
.page-header .mask .flush {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.stretchx {
    width: 100%;
}
.stretchy {
    height: 100%;
}

/* ------------------------  x y centering  */

.center {
    text-align: center;
}
.center::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.centered {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

/* ------------------------  Text and sizing  */

.text-0000 {
    font-size: 60%;
}
.text-000 {
    font-size: 70%;
}
.text-00 {
    font-size: 80%;
}
.text-0 {
    font-size: 90%;
}
.text {
    font-size: 100%;
}
.text0 {
    font-size: 120%;
}
.text00 {
    font-size: 140%;
}
.text000 {
    font-size: 180%;
}
.text0000 {
    font-size: 200%;
}
@media (max-width: 992px) {
    .text-0000 {
        font-size: 50%;
    }
    .text-000 {
        font-size: 60%;
    }
    .text-00 {
        font-size: 70%;
    }
    .text-0 {
        font-size: 80%;
    }
    .text {
        font-size: 90%;
    }
    .text0 {
        font-size: 100%;
    }
    .text00 {
        font-size: 120%;
    }
    .text000 {
        font-size: 160%;
    }
    .text0000 {
        font-size: 190%;
    }
}
.thin {
    font-weight: 100;
}
.light {
    font-weight: 300;
}
.regular {
    font-weight: 400;
}
.medium {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}
.black {
    font-weight: 900;
}
.caps {
    text-transform: uppercase;
}
footer a {
    color: rgba(255, 255, 255, 1);
}
.link {
    color: rgba(34, 134, 210, 1);
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.blink {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.white {
    color: #fff;
}
dark {
    color: #000;
}
.grayback {
    background-color: #f7f9f9;
}

/* Objects */

.header-blurb {
    background-color: rgba(255, 255, 255, .85);
    text-align: left;
    padding-left: 4%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1.5%;
}
.blurb-home {
    position: absolute;
    top: 250px;
}
.blurb-corp {
    position: absolute;
    right: 0px;
    top: 300px;
}
.slider-home {
    position: absolute;
}
.slider-video {
    width: 500px;
    height: 281px;
}
.lumps {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
@media (max-width: 1200px) {
    .slider-video {
        width: 400px;
        height: 225px;
    }
}
@media (max-width: 992px) {
    .header-blurb {
        padding-left: 8%;
        padding-right: 4%;
    }
    .blurb-home {
        top: 124px;
    }
    .lumps {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }
}
@media (max-width: 760px) {
    .blurb-home {
        position: relative;
        top: 100px;
    }
    .blurb-corp {
        position: relative;
        top: 100px;
    }
    .slider-home {
        position: relative;
        top: 100px;
    }
    .slider-video {
        width: 100%;
        height: 320px;
    }
    .firstblock {
        margin-top: 100px;
    }
    .lumps {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
    footer {
        font-size: 130%;
        text-align: center;
    }
    footer .text-right {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
}

/* These two are a custom underline for links */

span.pi-has-border {
    position: relative;
    padding-bottom: 3px;
    margin-bottom: 25px;
}
span.pi-has-border:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #444;
}

/* These two make clickable objects avoid selection artifacts */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noselect:focus {
    outline: none;
}

/* This is for replacing anchor links, so our sticky header doesn't overlap */

.anchor {
    display: block;
    height: 70px;
    /*same height as header*/
    margin-top: -70px;
    /*same height as header*/
    visibility: hidden;
}
.main-logo-light {
    width: 300px;
}
@media (max-width: 1200px) {
    .main-logo-light {
        width: 200px;
    }
}

/* Padding sizes */

.pad-top-50 {
    padding-top: 50px;
}
.pad-top-20 {
    padding-top: 20px;
}
.pad-bottom-20 {
    padding-bottom: 20px;
}
.pad-left-50 {
    padding-left: 50px;
}
.pad-right-50 {
    padding-right: 50px;
}
.pad-left-20 {
    padding-left: 20px;
}

/* Adding another column width for our menu footer */
@media (min-width:768px) {
    .col-9-items {
        width: 11.11111111%
    }
}
@media (min-width:992px) {
    .col-9-items {
        width: 11.11111111%
    }
}
@media (min-width:1200px) {
    .col-9-items {
        width: 11.11111111%
    }
}
