<perch:repeater id="logos" label="client logos">
<perch:before></perch:before>
                        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12" data-nekoanim="fadeInLeft">
                            <div class="square grayback">
                                <div class="square-inside">
                                    <div class="tblock">
                                        <div class="tcell">
                                            <a href="<perch:content type="text" id="url" label="url" size="m"/>" target="_blank">
                                            <img src="<perch:content type="image" id="image" label="image"/>" class="client-logo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<perch:after></perch:after>
</perch:repeater>
