<perch:repeater id="awards" label="awards">
<perch:before></perch:before>
                        <div class="col-md-7 iblock-mono tcell text-left">
                            <div class="text0 regular">
                                <perch:content type="textarea" id="text" label="text" markdown="true" textile="false" size="m"/>
                            </div>
                        </div>
                        <div class="col-md-5 iblock-mono tcell stretchy">
                            <img src="<perch:content type="image" id="image" label="image"/>" class="stretchx">
                        </div>
<perch:after></perch:after>
</perch:repeater>