<perch:repeater id="contact" label="contact item">
<perch:before></perch:before>

                            <div class="row pb-small">
                                <div class="col-sm-1 iblock-multi tcell">
                                    <i class="material-icons icon0"><perch:content type="text" id="icon" label="icon" size="m"/></i>
                                </div>
                                <div class="col-sm-11 iblock-multi tcell text-left scrunchp">
                                    <perch:content type="textarea" id="text" label="text" markdown="true" size="xs"/>
                                </div>
                            </div>
<perch:after></perch:after>
</perch:repeater>