<section class="pt-medium pb-medium light-color <perch:content type="checkbox" id="grayback" label="grayback" value="grayback" order="4" help="applies a css gray background"/>">
    <div class="container">
        <div class="row">
            <div class="col-md-6" data-nekoanim="fadeInLeft" data-nekodelay="50">
                <p class="text0000 light"><perch:content type="text" id="title" label="title" size="l" order="2"/></p>
                <p class="text0 regular">
                    <perch:content type="textarea" id="text" label="text" markdown="false" size="s" order="3"/>
                </p>
            </div>
            <div class="col-md-6" data-nekoanim="fadeInRight" data-nekodelay="50">
                <img src="<perch:content id="image" type="image" label="image" order="1"/>" class="responsive">
            </div>

        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
