            <div class="section tabpage <perch:content type="text" id="section_theme" label="Section theme" />" id="tabpage_<perch:content id="perch_item_index" type="hidden" />">
                <div class="contents text-start">
                    <h3 class="nostyle"><span class="text0000 medium"><perch:content type="text" id="title" label="Title" /></span></h3>
                    <div class="text0 regular pad-bottom-16">
                    	<perch:content type="textarea" markdown="true" size="m" id="body" label="Body" />
                    </div>
                    <perch:repeater id="icon_info_items" label="Icon info items">
                    <x-grid columns-s="1" class="icon-info-item">
                        <x-col as=center>
                            <div class="icon-box theme-<perch:content type="text" id="box_color" label="Box color" />">
                                <img src="<perch:content type="image" bucket="icons" id="box_icon" label="Box icon" />">
                            </div>
                        </x-col>
                        <x-col as=center>
                            <p class="text bold"><perch:content type="text" id="info-title" label="Info iitle" /></p>
                            <p class="text-0 regular">
                            	<perch:content type="textarea" markdown="true" size="m" id="info_body" label="Info body" />
                            </p>
                        </x-col>
                    </x-grid>
                    </perch:repeater>
                </div>
            </div>
