            <x-grid columns="1" class="section tall" ji=center ai=center>
                <x-flex direction="row" wrap jc=center ai=center class="box-well-padded">
                    <img src="/images/logo-bloom-icon-theme-light.svg" class="inline" style="height: 300px;">
                    <x-col span="4" class="" style="max-width: 500px; text-align:center;" ai=center>
                    	<h1 class="nostyle">
                        <span class="text00000 light pad-bottom-16" style="line-height: 1.1; display:block;">
                            <perch:content type="text" id="top" label="Top line" /><br>
                        </span>
                        <span class="text0000 medium pad-bottom-32" style="line-height: 1.1; display:block;">
                            <span class="color-orange-dark"><perch:content type="text" id="middle_orange" label="Middle orange line" /></span> <perch:content type="text" id="middle" label="Middle line" /><br>
                        </span>
                        <span class="text000 bold quote-font" style="color:var(--colorTealAccessible);">
                            <perch:content type="text" id="bottom" label="Bottom line" /><br>
                        </span>
                        </h1>
                    </x-col>
                </x-flex>
            </x-grid>
