<perch:help>
</perch:help>
<perch:repeater id="industries" label="industries">
<perch:before></perch:before>
            <section class="pt-small light-color">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-9 col-xxs-12" data-nekoanim="fadeInUp">
                            <a name="<perch:content type="text" id="anchor" label="anchor" size="m" help="used for link navigation"/>" class="anchor"></a>
                            <p class="text0000 light"><perch:content type="text" id="title" label="title" size="m"/></p>
                            <div class="text0 regular">
                                <perch:content type="textarea" id="text" label="text" markdown="true" editor="markitup" size="m"/>
                            </div>
                        </div>
                    </div> <!-- / row -->
                </div><!-- / container -->
            </section>
<perch:after></perch:after>
</perch:repeater>
