<perch:help>
</perch:help>
            <section class="pt-medium light-color">
                <div class="container">
                    <div class="row"><a name="<perch:content type="text" id="anchor" label="anchor" size="m" help="used for link navigation"/>" class="anchor"></a>
                            <div class="col-xs-3 col-xxs-12 text-center" data-nekoanim="fadeInLeft">
                                <img src="<perch:content id="image" type="image" label="image" order="1"/>" class="img-responsive client-logo">
                            </div>
                            <div class="col-xs-9 col-xxs-12" data-nekoanim="fadeInRight">
                                <p class="text0000 light"><perch:content type="text" id="title" label="title" size="l"/></p>
                                <div class="text0 regular">
                                    <perch:content type="textarea" id="text" label="text" markdown="true" editor="markitup" size="l"/>
                                </div>
                            </div>
                        </div>
                    </div> <!-- / row -->
                </div><!-- / container -->
            </section>
