<perch:help>
</perch:help>
<perch:repeater id="experts" label="experts">
<perch:before></perch:before>
                               <div class="item">
                                    <img src="<perch:content type="image" id="photo" label="photo" bucket="people" />" class="responsive">
                                    <p class="text0 regular">
                                        <perch:content type="text" id="name" label="name" size="m" /><br>
                                        <span class="text-00">
                                            <perch:content type="text" id="title" label="title" size="m" />
                                        </span>
                                    </p>
                                </div>
<perch:after></perch:after>
</perch:repeater>
