<perch:help>
	Icons can be found in this <a href="https://design.google.com/icons/#ic_3d_rotation">searchable icon list</a>:
	<br>
	Select an icon, expand the "icon font" section at the bottom and copy the name for modern browsers to paste in the icon fields below.
	<br><br>
	Services are grouped in pairs because I didn't want to add logic to detect rows.
</perch:help>
<perch:repeater id="services" label="services">
<perch:before></perch:before>
            <section class="pt-small light-color">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6" data-nekoanim="fadeInUp">
                            <a name="<perch:content type="text" id="anchor1" label="anchor1" size="m" help="used for link navigation"/>" class="anchor"></a>
                            <div class="col-sm-2 text-center">
                                <i class="material-icons icon0000"><perch:content type="text" id="icon1" label="icon1" size="m"/></i>
                            </div>
                            <div class="col-sm-10">
                                <p class="text0000 light"><perch:content type="text" id="title1" label="title1" size="m"/></p>
                                <p class="text0 regular">
                                    <perch:content type="textarea" id="text1" label="text1" markdown="true" editor="markitup" size="m"/>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6" data-nekoanim="fadeInUp">
                            <a name="<perch:content type="text" id="anchor2" label="anchor2" size="m" help="used for link navigation"/>" class="anchor"></a>
                            <div class="col-sm-2 text-center">
                                <i class="material-icons icon0000"><perch:content type="text" id="icon2" label="icon2" size="m"/></i>
                            </div>
                            <div class="col-sm-10">
                                <p class="text0000 light"><perch:content type="text" id="title2" label="title2" size="m"/></p>
                                <p class="text0 regular">
                                    <perch:content type="textarea" id="text2" label="text2" markdown="true" editor="markitup" size="m"/>
                                </p>
                            </div>
                        </div>
                    </div> <!-- / row -->
                </div><!-- / container -->
            </section>
<perch:after></perch:after>
</perch:repeater>
