<perch:help>
</perch:help>
<perch:repeater id="solutions" label="solutions">
<perch:before></perch:before>
<section class="pt-medium light-color">
    <div class="container">
        <div class="row">
            <div class="col-md-7 <perch:content type="checkbox" id="swap-push" label="swap-push" value="col-md-push-5" help="puts the image on the left and text on the right"/>" data-nekoanim="<perch:if id="swap-push" value="col-md-push-5">fadeInRight<perch:else />fadeInLeft</perch:if>" data-nekodelay="10"><a name="<perch:content type="text" id="anchor" label="anchor" size="m" help="used for link navigation"/>" class="anchor"></a>
                <p class="text0000 light"><perch:content type="text" id="title" label="title" size="l"/></p>
                <div class="text0 regular">
                    <perch:content type="textarea" id="text" label="text" markdown="true" editor="markitup" size="l"/>
                </div>
            </div>
            <div class="col-md-5 <perch:if id="swap-push" value="col-md-push-5">col-md-pull-7</perch:if> text-center" data-nekoanim="<perch:if id="swap-push" value="col-md-push-5">fadeInLeft<perch:else />fadeInRight</perch:if>" data-nekodelay="10">
                <img src="<perch:content id="image" type="image" label="image" order="1"/>" class="responsive">
            </div>
        </div>
    </div>
</section>
<perch:after></perch:after>
</perch:repeater>
