<perch:help>
</perch:help>
                        <img src="/images/profile-nicole-watson-transparent.webp" class="inline" style="border-radius: 400px; background-color:var(--colorWhite); border: 2px solid var(--colorTealDark); width: 10rem;">
                        <p class="text0000 medium quote-font pad-bottom-32">
                        	<perch:content id="name" type="text" label="Name" /><br>
							<perch:content id="title" type="text" label="Job title" />
                        </p>
                        <p class="text000 quote-font color-orange-dark pad-bottom-16">
                            <perch:content id="skill_title" type="text" label="Skills title" />
                        </p>
                        <p class="text narrowed spaced-items pad-bottom-16">
                        	<perch:repeater id="skills" label="Skills">
                            	<perch:content id="skill" type="text" label="Skill" />
                            <br><br>
                            </perch:repeater>
                        </p>
                        <a href="https://www.linkedin.com/in/nicoleawatson/" target="_blank">
                            <img src="/images/icon-linkedin.svg" class="inline" style="width: 5rem;">
                        </a>
