DirectoryIndex page.php page.html page.htm index.php index.html index.htm default.php default.html default.htm

AddType video/mp4 .mp4
AddType video/ogg .ogv
AddType video/webm .webm
AddType video/quicktime .mov
AddType application/apportal .apportal
AddType application/x-font-woff .woff
AddType application/rss+xml .rss

<IfModule mod_rewrite.c>
	RewriteEngine on
	# These are placed by AutoSSL
	RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
	RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
	RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
	
	# Redirect to ssl, since the cpanel method didn't work properly
	RewriteCond %{HTTPS} off
	RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
	
	# Rewrite news url to query
	RewriteRule ^news/([a-zA-Z0-9-/]+)$ news/?s=$1 [L]
</IfModule>
